/*
 * registrater.css
 * */

html, body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 95%;
    height: 95%;

    font-size: medium;
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: Helvetica, Arial, Open Sans,sans-serif;
}

.content{
  border: 14px;
}

h1{
font-size: 1.2em;
}

p, li {
  line-height: 1;
  font-size: 1em;
}

*{
    box-sizing: border-box;
}

 /* Form */
.loginForm {
    padding: 24px;
    margin: 1% auto;
    background-color: #2266AA;
    box-shadow: 4px 4px 4px #121313;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 24%;
    height: 30%;
}

.registrationForm{
  padding: 24px;
  margin: 1% auto;
  background-color: #2266AA;
  box-shadow: 4px 4px 4px #121313;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 24%;
  height: 30%;
}

label{
    font-weight:600;
    color: #c0c0c0;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

input[type=password], select, textarea{
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 12px;
    border: none;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
