<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=devide-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
		minimum-scale=1.0">
		<title>REGISTER ACCOUNT</title>
    <link rel="stylesheet" href="/meow/public/css/registrater.css"> 
</head>
<body>
<div>
	<p><h1><center>Please input your new login credentials to be able to log into matrix.hispagatos.org</center></h1></p>
</div>
<form class="registrationForm" action="/meow/register" method="POST">
    <label for="user">Username:</label>
    <input type="text" name="user" id="user" placeholder="Username"/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Password"/>
    <input type="submit" class="register" value="Register"/>
</form>
</body>
</html>
